<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/new" method="post">
    <input type="text" placeholder="Author name" name="author"></input>
    <input type="text" placeholder="Message" name="message"></input>
    <button type="submit">Post</button>
    </form>
  </body>
</html>
